.card-body-footer {
  max-width: 600px;

  margin: 10px auto;
}
.card-body {
  background-color: lightgrey;

  color: black;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 30px auto;
  padding: 20px;
  margin-bottom: 0;
}
.cities {
  width: auto;
  position: relative;
  font-size: 14px;
}
h2 {
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: black;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.image {
  width: 70px;
  top: 10px;
}
.temperature {
  margin: 0;
  font-size: 30px;
  top: 30px;
}
.units {
  position: relative;
  margin: auto;
  top: -14px;
  font-size: 14px;
}
.btn {
  padding: 3px 10px;
  background-color: lightgrey;
  position: relative;
  top: -2px;
  color: black;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temp {
  font-size: 14px;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
.footer {
  font-size: 10px;
  margin: 0;
}
